###############################################################################
# RNAOS
###############################################################################

APP_NAME=RNAOS
APP_ENV=development
DEBUG=true

###############################################################################
# Server
###############################################################################

HOST=0.0.0.0
PORT=8000

###############################################################################
# Database
###############################################################################

DATABASE_URL=

###############################################################################
# Redis
###############################################################################

REDIS_URL=

###############################################################################
# Security
###############################################################################

SECRET_KEY=

###############################################################################
# Logging
###############################################################################

LOG_LEVEL=INFO
